@import url('https://fonts.googleapis.com/css?family=Catamaran:200,400,700');

* {
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
}

body {
  background: #ddd;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #999;
}

a:hover {
  text-decoration: underline;
}

.banner {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 4px 4px 8px #bbb;
  height: 300px;
  width: 100vw;
}

.main {
  font-size: 1em;
  left: calc((100vw - 680px)/2);
  line-height: 2em;
  position: absolute;
  margin-bottom: 2em;
  margin-top: 4em;
  width: 680px;
}

.main h1 {
  border-bottom: 4px solid #bbb;
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

.main h2 {
  border-bottom: 2px solid #bbb;
  margin-bottom: 0.5em;
  margin-top: 2em;
  padding-bottom: 0.5em;
}

.main h3 {
  margin-top: 2em;
}

.main p {
  margin: 1em 0;
}

.main table {
  border-collapse: collapse;
  margin-top: 1em;
  width: 100%;
}

.main table tr {
  border-bottom: 2px solid #ccc;
}

.main table td:first-child {
  font-weight: bold;
}

.main ul, .main ol {
  margin: 1em;
}

.main ul li {
  list-style-type: square;
}

.main img {
  border-radius: 7px;
  box-shadow: 3px 3px 8px #bbb;
  margin-top: 2em;
  width: 100%;
}

.sup {
  bottom: 0.8em;
  font-size: 60%;
  margin-left: 0.1em;
  position: relative;
}

.thumbnail {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 7px;
  box-shadow: 4px 4px 8px #bbb;
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  padding: 2em;
  text-shadow: 1px 1px 2px #333;
  text-align: center;
}

.thumbnail a {
  color: #fff;
}

.caption {
  color: #aaa;
  font-style: italic;
}

h1.header {
  margin: 0;
}

p.subheader {
  color: #aaa;
  margin-bottom: 3em;
  text-transform: lowercase;
}

p.footer {
  margin-top: 3em;
}

.header, .subheader, .footer {
  text-align: center;
}
