<div class="nav-bar">
  <img class="nav-button" src="/img/menu.svg" onclick="openNav()"/>
  <ul class="nav-menu">
    <li><a href="/">Symmikton</a></li>
    <li><a href="/our-facility">Our facility</a></li>
    <li><a href="/steel-buildings">Steel buildings</a></li>
    <li><a href="/steel-towers">Steel towers</a></li>
  </ul>
</div>
