<!DOCTYPE HTML>
<html lang="en">
  <head>
  <%=render '/partials/head.erb' %>
  </head>
  <body>
    <main class="home">
      <%= yield %>
    </main>
    <%=render '/partials/footer.erb' %>
  </body>
  <%=render '/partials/scripts.erb' %>
</html>
